.container {
  height: 4rem;
  position: relative;
  isolation: isolate;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.2);
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1em;

  .background {
    z-index: -1;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: hsl(120, 41%, 37%, 0.5);
  }
}
